

.border-green-300{
  border-color: #60FF60;
  background-color: #EEFFEE;
}

.warning {
  background-color: #DD2020;
  
}

.warning::placeholder {
  color: #300000;
  
}

.landscape\:mb-6 {
    margin-top: -2rem;
}

