

.border-green-300{
  border-color: #60FF60;
  background-color: #EEFFEE;
}

.warning {
  background-color: #DD2020;
}

.warning::placeholder {
  color: #400000;
}

input-green::placeholder {
   color: #004000;
}

.section_up {
margin-top: -2rem;
}

.logout {
    width: min-content;
}

.screen_title {
    margin-top: -2rem;
}

