<?xml version="1.0" encoding="UTF-8"?>
<odoo>
        <record id="action_url_scanner" model="ir.actions.act_url">
            <field name="name">Scanner</field>
            <field name="target">self</field>
            <field name="url">/scanner?menu=0</field>
        </record>

    <menuitem id="menu_wms" sequence="50" name="WMS" web_icon="wms_scanner,static/description/icon.svg"/>
        <menuitem id="menu_wms_scanner" parent="menu_wms" sequence="190" name="Scanner" action="action_url_scanner"/>

    <menuitem id="menu_wms_configuration" parent="stock.menu_stock_config_settings" sequence="100" name="Scanner"/>
        <menuitem id="menu_wms_menu" parent="menu_wms_configuration" sequence="10" action="act_open_wms_menu_view"/>
        <menuitem id="menu_wms_scenario" parent="menu_wms_configuration" sequence="20" action="act_open_wms_scenario_view"/>
        <menuitem id="menu_wms_session" parent="menu_wms_configuration" sequence="30" action="act_open_wms_session_view"/>

</odoo>
